@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {

}
.bg{
  background: url("public/assets/images/bg-header.png");
}
.slider{
  overflow-x: scroll;
}
.product-container {
  scroll-behavior: smooth;
}
.comment-container{
  scroll-behavior: smooth;
}
.bg-friends{
  background: url("public/assets/images/friends-bg.svg");
  background: #05422C;
}
.footer{
  background: linear-gradient(180deg, #1A1E26 0%, #01100B 100%);
}









